.toolbar-container {
    .mat-toolbar {
        background-color: transparent;
    }
    .mat-toolbar-single-row {
        padding: 0;
    }
}

.spacer {
    flex: 1 1 auto;
  }

.toolbar-action {
    margin: 1rem 1rem;
    font-size: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: .3s ease-in-out 0s;
}

.toolbar-action:hover {
    transform: scale(1.25);
}

.site-logo {
    display: flex;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}