<div class="toolbar-container">
    <mat-toolbar>
        <button class="site-logo" aria-label="Official website name">
            <img src="../../../assets/Timwork_logo.svg" alt="Website logo" height="64px">
        </button>
        <span class="spacer"></span>
        <button class="toolbar-action capital" aria-label="Switch page button for projects">
            <span>{{pageTitle.WORK}}</span>
        </button>
        <button class="toolbar-action capital" aria-label="Switch page button for introduction">
            <span>{{pageTitle.ABOUT}}</span>
        </button>
        <button class="toolbar-action capital" aria-label="Switch page button for contact">
            <span>{{pageTitle.CONTACT}}</span>
        </button>
    </mat-toolbar>
</div>