<div class="toolbar-container">
    <mat-toolbar>
        <button mat-button class="toolbar-action" aria-label="Official website name">
            <span>{{title | uppercase}}</span>
        </button>
        <span class="spacer"></span>
        <button mat-button class="toolbar-action capital" aria-label="Switch page button for projects">
            <span>{{pageTitle.WORK}}</span>
        </button>
        <button mat-button class="toolbar-action capital" aria-label="Switch page button for introduction">
            <span>{{pageTitle.ABOUT}}</span>
        </button>
        <button mat-button class="toolbar-action capital" aria-label="Switch page button for contact">
            <span>{{pageTitle.CONTACT}}</span>
        </button>
    </mat-toolbar>
</div>